<h2>Bienvenu sur votre page de profil</h2>

<div class= "container">
  <h3>Vos données personnels:</h3>
  <p><%= @user.first_name %></p>
  <p><%= @user.last_name %></p>
  <p><%= @user.address %></p>
  <p><%= @user.phone_number %></p>
  <div class="p-2">
    <%= button_to "Modifier vos données",  edit_user_path(@user),method: :get, class: "btn btn-outline-info" %>
  </div>
</div>

<div class= "container">
<h3>Vos demandes de réservations:</h3>
  <% @resers.each do |reservation| %>
    <ul>
      <li>
        <%= reservation.garden.name %> <br>
        <%= reservation.date %>
        <p>Status:</p>
        <%= reservation.status %>
      </li>
    </ul>
  <% end %>
</div>

<div class= "container">
  <h3>Vos Gardens:</h3>
  <% @gardens.each do |garden| %>
  <ul>
      <li>
        <%= garden.name %> <br>
        <%= garden.address %>
        <%= garden.detail %>
        <%= garden.price %>
        <%= cl_image_tag garden.image.key, height: 300, width: 400, crop: :fill if garden.image.attached?%>
        <div class="p-2">
          <%= button_to "Modifier votre Garden",  edit_garden_path(garden),method: :get, class: "btn btn-outline-info" %>
        </div>
        <div class="p-2">
          <%= button_to "Delete votre Garden", garden_path(garden),method: :delete, class: "btn btn-outline-danger" %>
        </div>
        <p>Vos réservations pour ce Garden:</p>
          <ul>
            <% @reservations.select { |reservation| reservation.garden_id == garden.id }.each do |reservation| %>
              <li>
                <%= reservation.date %> <br>
                <p> Voulez vous confirmer cette réservation ? </p>
                <div class="p-2">
                  <%= button_to 'Valider la Réservation', validate_garden_reservation_path(reservation), method: :patch, class: 'btn btn-success' %>
                </div>
              </li>
            <% end %>
          </ul>
      </li>
    </ul>
  <% end %>
</div>

<div class="p-2">
  <%= link_to "Return to all Garden",  pages_path, class:"link text-decoration-none" %>
</div>
