<h2 class="d-flex justify-content-center">Bienvenu sur votre page de profil</h2>

<div class="d-flex justify-content-center grid gap-5 ">
  <div class= "info-perso-container overflow-y-auto card-color">
    <h3>Vos données personnels:</h3>
    <p><%= @user.first_name %></p>
    <p><%= @user.last_name %></p>
    <p><%= @user.address %></p>
    <p><%= @user.phone_number %></p>
    <div class="p-2">
      <%= button_to "Modifier vos données",  edit_user_path(@user),method: :get, class: "btn btn-outline-info" %>
    </div>
  </div>

  <div class= "dem-resa-container overflow-y-auto card-color">
  <h3>Vos demandes de réservations:</h3>
    <% @resers.each do |reservation| %>
      <ul>
        <li>
          <%= reservation.garden.name %> <br>
          <%= reservation.date %>
          <p>Status:</p>
          <%= reservation.status %>
           <% if reservation.status == 'Réservation refusée' %>
          <div class="p-2 text-center">
            <%= button_to "Delete", garden_reservation_path(reservation),method: :delete, class: "btn btn-outline-success" %>
          </div>
        <% end %>
        </li>
      </ul>
    <% end %>
  </div>

</div>

<h3 class="ms-5">Vos Gardens:</h3>
<div class= "perso-gar-container ">

  <% @gardens.each do |garden| %>

    <div class="union-card">

      <div class="card card-color">
      <%= cl_image_tag garden.image.key, class: "p-1 rounded-4 ms-4 img-fluid", crop: :fill if garden.image.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= garden.name %></h5>
          <p class="card-text">
            <%= garden.address %> <br>
            <%= garden.detail %> <br>
            <%= garden.price %>€ /month
          </p>
        </div>

        <div class="card-footer card-color">
          <div class="p-2">
            <%= button_to "Modifier votre Garden",  edit_garden_path(garden),method: :get, class: "btn btn-outline-info" %>
          </div>
          <div class="p-2">
            <%= button_to "Delete votre Garden", garden_path(garden),method: :delete, class: "btn btn-outline-danger" %>
          </div>
        </div>

      </div>

      <div class="card-resa overflow-y-auto card-color">
        <p>Vos réservations:</p>
        <ul>
          <% @reservations.select { |reservation| reservation.garden_id == garden.id }.each do |reservation| %>
          <% if reservation.status == 'En attente de validation' %>
            <li>
              <%= reservation.date %> <br>
              <p> Confirmer ? </p>
              <div class="p-2">
                  <%= button_to 'Valider la Réservation', confirme_garden_reservation_path(reservation), method: :patch, class: 'btn btn-success' %>
                </div>
              <div class="p-2">
                    <%= button_to 'Refuser la Réservation', refuse_garden_reservation_path(reservation, garden), method: :patch, class: 'btn btn-danger' %>
                  </div>
            </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>


  <% end %>

</div>



<div class="p-2">
  <%= link_to "Return to all Garden",  pages_path, class:"link text-decoration-none" %>
</div>
