

<div class="index-pages-container body-color">

  <div class="index-container ">
    <% @pages.each do |garden| %>


    <div class="cards">


      <%= cl_image_tag garden.image.key, class:"rounded-4", height: 150, width: 200, crop: :fill if garden.image.attached?%>
      <h4><%= link_to garden.name, garden_path(garden) %></h4>
      <p><%= garden.detail %></p>
      <p><%= garden.price %>€/month</p>
    </div>



    <% end %>
  </div>

  <div
      class="map-container"
      data-controller="map"
      data-map-gardens-value="<%= @map_garden.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
