<h2>Voulez-vous réserver ce lieu ?</h2>

<div class="form-container">
  <%= simple_form_for [@garden, @reservation] do |t| %>
    <%= t.input :user, collection: User.all  %>

    <%= t.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>

    <%= t.submit  %>
  <% end %>
</div>
<div>
  <%= link_to "Return to all Garden",  pages_path %>
</div>
