<div class="p-3">
  <%= simple_form_for [@garden] do |t| %>
    <%= t.input :name, label: "Nom de la propriété" %>
    <%= t.input :address, label: "Localisation" %>
    <%= t.input :detail, label: "Détails du terrain" %>
    <%= t.input :tool, label: "Outils mis à disposition" %>
    <%= t.input :picture, as: :file, label: "Photos du terrain" %>
    <%= t.input :price,label: "Prix" %>
    <%= t.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= t.submit  %>
  <% end %>
</div>

<div class="p-3">
  <%= link_to "Annuler",  pages_path %>
</div>
