<div>
  <%= simple_form_for [@garden] do |t| %>
    <%= t.input :name %>
    <%= t.input :address %>
    <%= t.input :detail %>
    <%= t.input :tool %>
    <%= t.input :picture %>
    <%= t.input :price %>
    <%= t.input :date %>
    <%= t.submit  %>
  <% end %>
</div>
