<h1 class="text-center p-3">Garden</h1>

<div class= "container">

  <p><%= @garden.name %></p>
  <p><%= @garden.address %></p>
  <p><%= @garden.detail %></p>
  <p><%= @garden.tool %></p>
  <p><%= @garden.date %></p>
</div>


<div class="p-2">
  <%= button_to "Edit",  edit_garden_path,method: :get, class: "btn btn-outline-info" %>
</div>


<div class="p-2">
  <%= button_to "Delete", garden_path(@garden),method: :delete, class: "btn btn-outline-danger" %>
</div>

<div class="p-2">
  <%= link_to "Réserver ce Garden",  new_garden_reservation_path(@garden), class:"link text-decoration-none" %>
</div>

<div class="p-2">
  <%= link_to "Return to all Garden",  pages_path, class:"link text-decoration-none" %>
</div>
