<h1>Garden</h1>

<div>

  <p><%= @garden.name %></p>
  <p><%= @garden.address %></p>
  <p><%= @garden.detail %></p>
  <p><%= @garden.tool %></p>
  <p><%= @garden.picture %></p>
  <p><%= @garden.date %></p>
</div>


<div>
  <%= button_to "Edit", edit_garden_path,method: :get %>
</div>


<div>
  <%= button_to "Delete", garden_path(@garden),method: :delete %>
</div>


<div>
  <%= link_to "Return to all Garden",  pages_path %>
</div>
