<h1 class="text-center p-3"><%= @garden.name %></h1>

<div class="main-container">

  <div class="container-garden">
    <div class= "container-detail shadow card-color">


      <p class="text-deco"><%= @garden.address %></p>
      <p class="text-deco"><%= @garden.detail %></p>
      <p class="text-deco"><%= @garden.tool %></p>
      <p class="text-deco"><%= @garden.price %>€/mois</p>

    </div>

    <div class="container-photo ">
      <%= cl_image_tag @garden.image.key, class: "rounded-bottom-4 rounded-top-3 shadow", height: 300, width: 400, crop: :fill if @garden.image.attached?%>
    </div>
  </div>

  <div
        class="map-garden"

        data-controller="map"
        data-map-garden-value="<%= @map_garden.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>



<div class="container-footer card-color">
  <<% if current_user == @garden.user %>>
    <div class="modif-box">
      <div class="p-2 text-center">
        <%= button_to "Edit",  edit_garden_path,method: :get, class: "btn btn-outline-info" %>
      </div>

      <div class="p-2 text-center">
        <%= button_to "Delete", garden_path(@garden),method: :delete, class: "btn btn-outline-success" %>
      </div>
    </div>
  <% end %>

  <% if current_user != @garden.user %>
    <div class="p-2 text-center">
      <%= link_to "Réserver ce Garden",  new_garden_reservation_path(@garden), class:"link text-decoration-none" %>
    </div>
  <% end %>

  <div class="p-2 text-center">
    <%= link_to "Return to all Garden",  pages_path, class:"link text-decoration-none" %>
  </div>
</div>
